.header {
    width: 100%;
    height: 60px;
}

.header__top > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 150px;
}

.header__top > h1 {
    color: #142d5d;
    margin-left: 100px;
}

 .header__links {
    display: flex;
    border-bottom: 1px solid #142d5d;
} 

.header__links > h2 {
    color: #142d5d;
    width: 100%;
    align-items: space-evenly;
    margin-left: 60px;
    padding: 10px;
}
