.header {
    width: 100%;
    height: 60px;
    /* display: flex; */
}

.header__top > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 150px;
}
